{% extends 'core/base.html' %}

{% block title %} Sửa thông tin {% endblock %}

{% block content %}

<div class='container'>
    <h1 class='text-align'>Sửa thông tin</h1>
    
    <form method="POST" action=" " class='tao'>
        {% csrf_token %}
        {{form.as_p}}
        <button type='submit' class="btn">Sửa</button>
    </form>    
    <div class="top-margin">
        <button class='btn btn-action'><a href="{% url 'changepassword' %}" style="color: white; text-decoration:none;">Đổi mật khẩu</a></button>
    </div>
    
</div>
<script>
    var name = "{{ user.id }}";
    document.getElementById("author").value = name;
</script>

{% endblock%}