{% extends 'core/base.html' %}

{% load static %}

{% block title %} Thông tin {% endblock%}
{% block content %}


		
	<!-- Highlights - jumbotron -->
	<div class="jumbotron top-space">
		<div class="container">
			
			<h3 class="text-center thin">Các thành viên trong nhóm</h3>
			
			<div class="row">
				<div class="col-md-4 col-sm-6 highlight">
					<div class="h-caption"><h4><img src="{% static 'core/media/images/thn.png' %}" class="rounded" alt="Cinque Terre"></img><br><br>Trương Hồng Ngân</h4></div>
					<div class="h-body text-center">
						<p> Surface ios 11. FPT Software Developer. <br>Quảng Nam - 92, sinh năm 1991 có 11 đời chồng.<br> Chồng hiện tại: Trần Phước</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 highlight">
					<div class="h-caption"><h4><img src="{% static 'core/media/images/thn.png' %}" class="rounded" alt="Cinque Terre"></img><br><br>Trương Hồng Ngân</h4></div>
					<div class="h-body text-center">
						<p> Surface ios 11. FPT Software Developer. <br>Quảng Nam - 92, sinh năm 1991 có 11 đời chồng.<br> Chồng hiện tại: Trần Phước</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 highlight">
					<div class="h-caption"><h4><img src="{% static 'core/media/images/thn.png' %}" class="rounded" alt="Cinque Terre"></img><br><br>Trương Hồng Ngân</h4></div>
					<div class="h-body text-center">
						<p> Surface ios 11. FPT Software Developer. <br>Quảng Nam - 92, sinh năm 1991 có 11 đời chồng.<br> Chồng hiện tại: Trần Phước</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 highlight">
					<div class="h-caption"><h4><img src="{% static 'core/media/images/thn.png' %}" class="rounded" alt="Cinque Terre"></img><br><br>Trương Hồng Ngân</h4></div>
					<div class="h-body text-center">
						<p> Surface ios 11. FPT Software Developer. <br>Quảng Nam - 92, sinh năm 1991 có 11 đời chồng.<br> Chồng hiện tại: Trần Phước</p>
					</div>
				</div>

                <div class="col-md-4 col-sm-6 highlight">
					<div class="h-caption"><h4><img src="{% static 'core/media/images/thn.png' %}" class="rounded" alt="Cinque Terre"></img><br><br>Trương Hồng Ngân</h4></div>
					<div class="h-body text-center">
						<p> Surface ios 11. FPT Software Developer. <br>Quảng Nam - 92, sinh năm 1991 có 11 đời chồng.<br> Chồng hiện tại: Trần Phước</p>
					</div>
				</div>

                <div class="col-md-4 col-sm-6 highlight">
					<div class="h-caption"><h4><img src="{% static 'core/media/images/thn.png' %}" class="rounded" alt="Cinque Terre"></img><br><br>Trương Hồng Ngân</h4></div>
					<div class="h-body text-center">
						<p> Surface ios 11. FPT Software Developer. <br>Quảng Nam - 92, sinh năm 1991 có 11 đời chồng.<br> Chồng hiện tại: Trần Phước</p>
					</div>
				</div>
			</div> <!-- /row  -->
		
		</div>
	</div>
	<!-- /Highlights -->

	<!-- container -->
	<div class="container">

		

		<div class="jumbotron top-space">
			<h4>Một số bài toán cần phải có các điểm định vị trên tờ giấy, một số khác thì cần phải kẻ bảng rõ ràng mới có thể định vị. Bài này mình làm linh hoạt một chút là sẽ ko cần điểm định vị, không cần kẻ bảng nhé.</h4>
     		<p class="text-right"><a class="btn btn-primary btn-large" href="{% url 'register' %}">Đăng ký»</a></p>
  		</div>

</div>	<!-- /container -->
	
<!-- Social links. @TODO: replace by link/instructions in template -->
<section id="social">
    <div class="container">
        <div class="wrapper clearfix">
            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style">
            <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
            <a class="addthis_button_tweet"></a>
            <a class="addthis_button_linkedin_counter"></a>
            <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
            </div>
            <!-- AddThis Button END -->
        </div>
    </div>
</section>
<!-- /social links -->
{% endblock %}